nav {
  width: 300px;
  color: white;
  background: rgb(30, 10, 119);
  height: 100vh;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
}

a {
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}
