.flip-container {
  position: relative;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 150px;
  height: 200px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgb(68, 32, 224);
}
