.radio {
  padding: 5px;
  display: flex;
  align-items: center;
}

.radio-btn {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.radion-circle {
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(31, 168, 65);
}
